<div class="mt-10 w-full flex flex-col justify-center items-center gap-10">
  <h2>Current number state: {{ numberState$ | async }}</h2>

  <div class="flex justify-center items-center gap-10">
    <app-primary-button text="Increment" (handleClick)="handleNumberChange(0)">
    </app-primary-button>
    <app-primary-button text="Decrement" (handleClick)="handleNumberChange(1)">
    </app-primary-button>
  </div>
</div>

<p-button
  label="Toggle Dark Mode"
  styleClass="mt-10"
  (onClick)="toggleDarkMode()"
/>
