<label class="form-control w-full">
  <div class="label" *ngIf="showLabel">
    <span
      class="label-text"
      [ngClass]="{
        'text-error': control.enabled && !control.valid && control.touched
      }"
      >{{ labelText }}</span
    >
  </div>
  <textarea
    [id]="id"
    type="text"
    [placeholder]="placeholder"
    [formControl]="control"
    (blur)="onBlur()"
    class="textarea textarea-primary textarea-bordered bg-white flex items-center gap-2 w-full textarea-sm h-48"
    autocomplete="on"
    [ngClass]="{
      'textarea-error': !control!.valid && control.touched
    }"
    [readOnly]="readonly"
  >
  </textarea>
</label>

<div class="w-full text-start">
  <small
    *ngIf="control!.errors?.['required'] && control.touched"
    class="text-error"
    >Campo requerido.</small
  >
  <small
    *ngIf="control!.errors?.['pattern'] && control.touched"
    class="text-error"
    >Valor no válido.</small
  >
  <small
    *ngIf="control!.errors?.['maxlength'] && control.touched"
    class="text-error"
    >Longitud mínima no válida.</small
  >
  <small
    *ngIf="control!.errors?.['minlength'] && control.touched"
    class="text-error"
    >Longitud máxima no válida.</small
  >
</div>
